<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>L•A•Y•O•U•T</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <div class="hero-section">
        <div class="container-layout">
          <div class="header">
            <img src="/images/logo--inverse.svg" alt="brand logo" class="header__logo">
            <h1 class="header__title">You sent <br class="visible-mobile" /><span class="highlight">0,43593023 <i class="fab fa-bitcoin"></i></span></h1>
            <p class="header__text">
              Congratulations, you just sent <br class="visible-mobile" /><span class="highlight">0,43593023 <i class="fab fa-bitcoin"></i></span> to <br class="visible-mobile" /><span class="highlight">3dg72y32dash8218hdskk12j8dd3</span>. The transaction has been succesfully broadcasted to the Blockhain.
            </p>

          </div>
        </div>
      </div>
      <div class="container-layout">

        <div class="block">
          <span class="block__label to-upper">Recipient</span>
          <span class="block__value">12A1 MyfX bW6R hdRA ZWqo fac5 jCQQ jwEP Bu</span>
        </div>

        <div class="block">
          <span class="block__label to-upper">Transaction date</span>
          <span class="block__value">12 July 2017, <span>12:42</span></span>
        </div>

        <div class="block block--noborder">
          <span class="block__label to-upper">Amount</span>
          <ul class="block__list">
            <li class="block__list__item">
              <span class="block__label block__label--list">Your transaction</span>
              <span class="block__value">0,25 <i class="fab fa-bitcoin"></i></span>
            </li>
            <li class="block__list__item">
              <span class="block__label block__label--list">Transaction fee <i class="fas fa-question-circle p-color"></i>

</span>
              <span class="block__value">0,00028421 <i class="fab fa-bitcoin"></i></span>
            </li>
            <li class="block__list__item">
              <span class="block__label block__label--list">Total amount</span>
              <span class="block__value">0,25028421 <i class="fab fa-bitcoin"></i></span>
            </li>
          </ul>
        </div>
      </div>
        <!-- <script src="js/main.js"></script> -->
    </body>
</html>
